{% extends 'main.html' %}

{% block head %}
<title>Edit Employees | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Edit Employee</h1>
<form action="{{url_for('edit_employees')}}" method="POST">
    <fieldset class="add-entity">
        <legend>Edit Employee</legend>
        <p style="font-weight: bold">Employee ID: {{employee_info['employee_id']}}</p>
        <input type="hidden" name="employee_id" value="{{employee_info['employee_id']}}">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" value="{{employee_info['first_name']}}" required/>
        <br>
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name" value="{{employee_info['last_name']}}" required/>
        <br>
        <label for="birthdate">Birthdate: </label>
        <input type="date" name="birthdate" value="{{employee_info['birthdate']}}" required/>
        <br>
        <label>Termed: </label>
        {% if (employee_info['termed'] == 1) %}
        <input type="radio" name="termed" value="1" checked required>
        <label for="true">True</label>
        <input type="radio" name="termed" value="0">
        <label for="false">False</label><br>
        {% else %}
        <input type="radio" name="termed" value="1" required>
        <label for="true">True</label>
        <input type="radio" name="termed" value="0" checked>
        <label for="false">False</label><br>
        {% endif %}
        <label>Site ID: </label>
        <select name="site_id" required>
            {% for id in site_options %}
            {% if (employee_info['site_id'] == id['site_id']) %}
            <option value="{{id['site_id']}}" selected>{{id['site_id']}}</option>
            {% else %}
            <option value="{{id['site_id']}}">{{id['site_id']}}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        <label>Exemption ID: </label>
        <select name="exemption_id">
            {% for id in exemption_options %}
            {% if (employee_info['exemption_id'] == id['exemption_id']) %}
            <option value="{{id['exemption_id']}}" selected>{{id['exemption_id']}}</option>
            {% else %}
            <option value="{{id['exemption_id']}}">{{id['exemption_id']}}</option>
            {% endif %}
            {% endfor %}
            {% if employee_info['exemption_id'] %}
            <option value="-1">N/A</option>
            {% else %}
            <option value="-1" selected>N/A</option>
            {% endif %}
        </select><br>
        <input type="submit" name="update-confirm">
    </fieldset>
</form>
{% endblock %}
