{% extends 'main.html' %}

{% block head %}
<title>Employees | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Employees</h1>
<form action="{{url_for('employees')}}" method="POST">
    <fieldset class="add-entity">
        <legend>Add Employee</legend>
        <label for="fname">First Name: </label>
        <input type="text" id="fname"/>
        <br>
        <label for="lname">Last Name: </label>
        <input type="text" id="lname"/>
        <br>
        <label for="birthdate">Birthdate: </label>
        <input type="date" id="birthdate"/>
        <br>
        <label>Termed: </label>
        <input type="radio" id="true" name="termed" value="1">
        <label for="true">True</label>
        <input type="radio" id="false" name="termed" value="0">
        <label for="false">False</label><br>
        <label>Site ID: </label>
        <select name="site">
            <option value="1">1</option>
        </select><br>
        <label>Exemption ID: </label>
        <select name="exemption">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="N/A">N/A</option>
        </select><br>
        <input type="submit" id="employee-submit">
    </fieldset>
</form>
<table class="entity-table">
    <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthdate</th>
        <th>Termed</th>
        <th>Site ID</th>
        <th>Exemption ID</th>
        <th></th>
    </thead>
    {% for employee in employees_table %}
    <tr>
        <td>{{employee['employee_id']}}</td>
        <td>{{employee['first_name']}}</td>
        <td>{{employee['last_name']}}</td>
        <td>{{employee['birthdate']}}</td>
        {% if (employee['termed'].decode() == '0x00') %}
        <td>False</td>
        <td>{{employee['termed'].decode()}}</td>
        {% endif %}
        {% if (employee['termed'].decode() == '0x01') %}
        <td>True</td>
        <td>{{employee['termed'].decode()}}</td>
        {% endif %}
        <td>{{employee['site_id']}}</td>
        <td>{{employee['exemption_id']}}</td>
        <td><button>Update</button><button>Delete</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}