{% extends 'main.html' %}

{% block head %}
<title>Employee-Vaccines | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Employees-Vaccines</h1>
<form action="{{url_for('employees_vaccines')}}" method="POST">
    <fieldset class="add-entity">
        <legend>Add Employee-Vaccine</legend>
        <label>Employee ID: </label>
        <select name="employee_id">
            {% for id in employee_options %}
            <option value="{{id['employee_id']}}">{{id['employee_id']}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Vaccine ID: </label>
        <select name="vaccine_id">
            {% for id in vaccine_options %}
            <option value="{{id['vaccine_id']}}">{{id['vaccine_id']}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="date_administered">Date Administered: </label>
        <input type="date" name="date_administered" required/>
        <br>
        <label>Dose: </label>
        <input type="radio" name="dose" value="1" required>
        <label for="1">1st</label>
        <input type="radio" name="dose" value="2">
        <label for="2">2</label>
        <input type="radio" name="dose" value="3">
        <label for="3">Booster</label>
        <input type="radio" name="dose" value="0">
        <label for="0">Unknown</label>
        <br>
        <input type="submit" name="emp_vacc-submit">
    </fieldset>
</form>
<form id="search-form">
    <p>Search by Employee ID: </p>
    <select name="employee_id" required>
        {% for id in employee_options %}
        <option value="{{id['employee_id']}}">{{id['employee_id']}}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" name="search-submit">
</form>
<table class="entity-table">
    <thead>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Vaccine ID</th>
        <th>Date Administered</th>
        <th>Dose</th>
        <th></th>
    </thead>
    {% for entry in table_data %}
    <tr>
        <td>{{entry['employee_vaccine_id']}}</td>
        <td>{{entry['employee_id']}}</td>
        <td>{{entry['vaccine_id']}}</td>
        <td>{{entry['date_administered']}}</td>
        {% if (entry['dose'] == 0) %}
        <td>Unknown</td>
        {% else %}
        <td>{{entry['dose']}}</td>
        {% endif %}
        <td><button>Delete</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}