{% extends 'main.html' %}

{% block head %}
<title>Employee-Vaccines | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Employees-Vaccines</h1>
<form>
    <fieldset class="add-entity">
        <legend>Add Employee-Vaccine</legend>
        <label>Employee ID: </label>
        <select name="empid">
            <option value="1">1</option>
        </select>
        <br>
        <label>Vaccine ID: </label>
        <select name="vaccid">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <br>
        <label for="date">Date Administered: </label>
        <input type="date" id="date"/>
        <br>
        <label>Dose: </label>
        <input type="radio" id="1" name="dose" value="1">
        <label for="1">1st</label>
        <input type="radio" id="2" name="dose" value="2">
        <label for="2">2</label>
        <input type="radio" id="3" name="dose" value="3">
        <label for="3">Booster</label>
        <input type="radio" id="0" name="dose" value="0">
        <label for="0">Unknown</label>
        <br>
        <input type="submit" id="emp_vacc-submit">
    </fieldset>
</form>
<form id="search-form">
    <p>Search by Employee ID: </p>
    <select name="id">
        <option value="1">1</option>
    </select>
    <br>
    <input type="submit" value="Search" id="search-submit">
</form>
<table class="entity-table">
    <thead>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Vaccine ID</th>
        <th>Date Administered</th>
        <th>Dose</th>
        <th></th>
    </thead>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>2022-01-01</td>
        <td>1</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>2022-02-01</td>
        <td>2</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>1</td>
        <td>2</td>
        <td>2022-03-01</td>
        <td>3</td>
        <td><button>Delete</button></td>
    </tr>
     <tr>
        <td>4</td>
        <td>4</td>
        <td>1</td>
        <td>2021-10-14</td>
        <td>1</td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td>5</td>
        <td>4</td>
        <td>1</td>
        <td>2021-11-14</td>
        <td>2</td>
        <td><button>Delete</button></td>
    </tr>
</table>
{% endblock %}