{% extends 'main.html' %}

{% block head %}
<title>Employees | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Employees</h1>
<form action="{{url_for('employees')}}" method="POST">
    <fieldset class="add-entity">
        <legend>Add Employee</legend>
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" required/>
        <br>
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name" required/>
        <br>
        <label for="birthdate">Birthdate: </label>
        <input type="date" name="birthdate" required/>
        <br>
        <label>Termed: </label>
        <input type="radio" name="termed" value="1" required>
        <label for="true">True</label>
        <input type="radio" name="termed" value="0">
        <label for="false">False</label><br>
        <label>Site ID: </label>
        <select name="site_id" required>
            {% for id in site_options %}
            <option value="{{id['site_id']}}">{{id['site_id']}}</option>
            {% endfor %}
        </select><br>
        <label>Exemption ID: </label>
        <select name="exemption_id">
            {% for id in exemption_options %}
            <option value="{{id['exemption_id']}}">{{id['exemption_id']}}</option>
            {% endfor %}
            <option value="'-1'">N/A</option>
        </select><br>
        <input type="submit" name="employee-submit">
    </fieldset>
</form>
<table class="entity-table">
    <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthdate</th>
        <th>Termed</th>
        <th>Site ID</th>
        <th>Exemption ID</th>
        <th></th>
    </thead>
    {% for employee in employees_table %}
    <tr>
        <td>{{employee['employee_id']}}</td>
        <td>{{employee['first_name']}}</td>
        <td>{{employee['last_name']}}</td>
        <td>{{employee['birthdate']}}</td>
        {% if (employee['termed'].decode('utf-8') == '\x01') %}
        <td>True</td>
        {% else %}
        <td>False</td>
        {% endif %}
        <td>{{employee['site_id']}}</td>
        <td>{{employee['exemption_id']}}</td>
        <form action="{{url_for('edit_employees', employee_id=employee.employee_id)}}" method="GET">
        <td><button type=submit value="{{employee['employee_id']}}" name="update-submit">Update</button>
        </form>
        <form action="{{url_for('employees')}}" method="POST">
        <button type=submit value="{{employee['employee_id']}}" name="delete-submit">Delete</button></td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}
