{% extends 'main.html' %}

{% block head %}
<title>Exemptions | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Exemptions</h1>
<form action="{{url_for('exemptions')}}" method="POST">
    <fieldset class="add-entity">
        <legend>Add Exemption</legend>
        <label>Status: </label>
        <input type="radio" id="true" name="exemption_status" value="1">
        <label for="true">has exemption</label>
        <input type="radio" id="false" name="exemption_status" value="0">
        <label for="false">no exemption</label><br>
        <label for="exemption_type">Exemption Type: </label>
        <input type="text" name="exemption_type"/><br>
        <input type="submit" name="exemption-submit">
    </fieldset>
</form>
<table class="entity-table">
    <thead>
        <th>ID</th>
        <th>Status</th>
        <th>Type</th>
        <th></th>
    </thead>
    {% for exemption in exemptions_table %}
    <tr>
        <td>{{exemption['exemption_id']}}</td>
        {% if exemption['exemption_status'].decode('utf-8') == '\x01' %}
        <td>True</td>
        {% else %}
        <td>False</td>
        {% endif %}
        <td>{{exemption['exemption_type']}}</td>
        <td><button>Delete</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}