{% extends 'main.html' %}

{% block head %}
<title>Vaccines | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Vaccines</h1>
<form action="{{url_for('vaccines')}}" method="POST">
    <fieldset class="add-entity">
        <legend>Add Vaccine</legend>
        <label for="vaccine_manufacturer">Vaccine Manufacturer: </label>
        <input type="text" name="vaccine_manufacturer" required/><br>
        <input type="submit" name="vaccine-submit">
    </fieldset>
</form>
<table class="entity-table">
    <thead>
        <th>ID</th>
        <th>Manufacturer</th>
    </thead>
    {% for vaccine in vaccines_table %}
    <tr>
        <td>{{vaccine['vaccine_id']}}</td>
        <td>{{vaccine['vaccine_manufacturer']}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}