{% extends 'main.html' %}

{% block head %}
<title>Vaccines | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Vaccines</h1>
<form>
    <fieldset class="add-entity">
        <legend>Add Vaccine</legend>
        <label for="vaccineid">Vaccine ID: </label>
        <input type="text" id="vaccineid"/>
        <br>
        <label for="manufacturer">Vaccine Manufacturer: </label>
        <input type="text" id="manufacturer"/><br>
        <input type="submit" id="vaccine-submit">
    </fieldset>
</form>
<table class="entity-table">
    <thead>
        <th>ID</th>
        <th>Manufacturer</th>
    </thead>
    <tr>
        <td>1</td>
        <td>Pfizer/BioNTech</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Moderna</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Janssen/Johnson & Johnson</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Oxford/AstraZeneca</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Novavax</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Sinopharm</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Sinovac</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Bharat Biotech</td>
    </tr>
</table>
{% endblock %}