{% extends 'main.html' %}

{% block head %}
<title>Worksites | Covid-19 Vaccine Mandate Database</title>
{% endblock %}

{% block body %}
<h1 class="page-title">Worksites</h1>
<form action="{{url_for('worksites')}}" method="POST">
    <fieldset class="add-entity">
        <legend>Add Worksite</legend>
        <label for="location">Location: </label>
        <input type="text" name="location"/>
        <br>
        <label for="department">Department: </label>
        <input type="text" name="department"/>
        <br>
        <label for="manager_first">Manager First Name: </label>
        <input type="text" name="manager_first"/>
        <br>
        <label for="manager_last">Manager Last Name: </label>
        <input type="text" name="manager_last"/>
        <br>
        <input type="submit" name="worksite-submit">
    </fieldset>
</form>
<table class="entity-table">
    <thead>
        <th>ID</th>
        <th>Location</th>
        <th>Department</th>
        <th>Manager First Name</th>
        <th>Manager Last Name</th>
    </thead>
    {% for site in worksites_table %}
    <tr>
        <td>{{site['site_id']}}</td>
        <td>{{site['location']}}</td>
        <td>{{site['department']}}</td>
        <td>{{site['manager_first']}}</td>
        <td>{{site['manager_last']}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}